<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd"><hibernate-configuration>
   
    <session-factory>
        <!-- properties -->
        <property name="show_sql">true</property>
        <property name="jdbc.use_streams_for_binary">true</property>
        <property name="query.substitutions">true 1, false 0, yes 'S', no 'N'</property>
        <property name="connection.driver_class">org.apache.derby.jdbc.ClientDriver</property>     
        <property name="connection.url">jdbc:derby://localhost:1527/bancolocal;create=true</property>          
        <property name="connection.username">APP</property>        
        <property name="connection.password">APP</property>  
        <property name="connection.pool_size">1</property>  
        <property name="connection.datasource">java:comp/env/jdbc/ge</property>      
        <property name="connection.provider_class">com.powerlogic.jcompany.persistencia.hibernate.PlcConnectionProvider</property>     
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>   
        <property name="current_session_context_class">thread</property>               
        <property name="statement_cache.size">0</property> 
        <property name="jdbc.batch_size">0</property>
        <property name="connection.charSet">utf-8</property>
        <!--  jCompany 2.0 Impede recuperação em mais de 2 níveis de profundidade -->
        <property name="hibernate.max_fetch_depth">2</property>
        <property name="use_outer_join">true</property>
        <property name="dialect">org.hibernate.dialect.DerbyDialect</property>
     	<property name="format_sql">true</property>

     	<!-- otimizações jCompany -->		
		<property name="plc.manyToOneLazyOtimiza">S</property>
     	<property name="plc.updateOtimiza">S</property>
    	<property name="plc.autoDetectDialect">S</property>
     	<property name="plc.auditoriaRigida">S</property>
     	
     	<mapping class="com.consisti.sisgesc.entidade.TurmaEntity"/>
		<mapping class="com.consisti.sisgesc.entidade.AlunoEntity"/>
		<mapping class="com.consisti.sisgesc.entidade.EnderecoEntity"/>
		<mapping class="com.consisti.sisgesc.entidade.CertidaoNascimentoEntity"/>
		<mapping class="com.consisti.sisgesc.entidade.FiliacaoMaeEntity"/>
		<mapping class="com.consisti.sisgesc.entidade.FiliacaoPaiEntity"/>
		<mapping class="com.consisti.sisgesc.entidade.SaudeAlunoEntity"/>
		<mapping class="com.consisti.sisgesc.entidade.ResponsavelAlunoCasoAcidenteEntity"/>
		<mapping class="com.consisti.sisgesc.entidade.FuncionarioEntity"/>
		<mapping class="com.consisti.sisgesc.entidade.DadoFuncionarioEntity"/>
		<mapping class="com.consisti.sisgesc.entidade.HorarioTrabalhoEntity"/>
		<!-- 
		<mapping class="com.consisti.sisgesc.entidade.ConteudoEntity"/>
		<mapping class="com.consisti.sisgesc.entidade.ProfessorDisciplinaEntity"/>
		<mapping class="com.consisti.sisgesc.entidade.DisciplinasEntity"/>
		<mapping class="com.consisti.sisgesc.entidade.CronogramaTurmaEntity"/>
		<mapping class="com.consisti.sisgesc.entidade.CronogramaTurmaDisciplinaEntity"/>
		<mapping class="com.consisti.sisgesc.entidade.CronogramaTurmaDisciplinaConteudoEntity"/>
		<mapping class="com.consisti.sisgesc.entidade.TurmaProfessorEntity"/>
		<mapping class="com.consisti.sisgesc.entidade.RegistrarFrequenciaEntity"/>
		<mapping class="com.consisti.sisgesc.entidade.FrequenciaAlunoEntity"/>
		<mapping class="com.consisti.sisgesc.entidade.RegistroNotasFundamentalEntity"/>
		<mapping class="com.consisti.sisgesc.entidade.RegistroNotasFundamentalDetEntity"/>
		<mapping class="com.consisti.sisgesc.entidade.RegistroNotasFundamentalSubDetEntity"/>
		<mapping class="com.consisti.sisgesc.entidade.BoletimFundamentalEntity"/>
		<mapping class="com.consisti.sisgesc.entidade.BoletimFundamentalDetEntity"/>
		<mapping class="com.consisti.sisgesc.entidade.CadastroFeriadoEntity"/>
		<mapping class="com.consisti.sisgesc.entidade.CalendarioAnualEntity"/>
		<mapping class="com.consisti.sisgesc.entidade.CalendarioAnualDetEntity"/>
		<mapping class="com.consisti.sisgesc.entidade.CalendarioAnualSubDetEntity"/>
		 -->
		<mapping class="com.consisti.sisgesc.entidade.autenticacao.UsuarioEntity"/>
		<mapping class="com.consisti.sisgesc.entidade.autenticacao.UrlAcessoEntity"/>
		<mapping class="com.consisti.sisgesc.entidade.autenticacao.PerfilEntity"/>
		<mapping class="com.consisti.sisgesc.entidade.autenticacao.PerfilUsuarioEntity"/>
		<mapping class="com.consisti.sisgesc.entidade.autenticacao.UrlAcessoPerfilEntity"/>
		<mapping class="com.consisti.sisgesc.entidade.ServicosEntity"/>
		<mapping class="com.consisti.sisgesc.entidade.ServicoAlunoEntity"/>
		<mapping class="com.consisti.sisgesc.entidade.FornecedorEntity"/>
		<mapping class="com.consisti.sisgesc.entidade.AnexoEntity"/>
		<mapping class="com.consisti.sisgesc.entidade.ContratoEntity"/>
		<mapping class="com.consisti.sisgesc.entidade.AditivoEntity"/>
		<mapping class="com.consisti.sisgesc.entidade.TabelaPrecoEntity"/>
		<mapping class="com.consisti.sisgesc.entidade.TabelaPrecoDetEntity"/>
		<mapping class="com.consisti.sisgesc.entidade.ResponsavelFinanceiroAlunoEntity"/>
		<mapping class="com.consisti.sisgesc.entidade.financeiro.PlanoContasEntity"/>
		<mapping class="com.consisti.sisgesc.entidade.financeiro.TipoPlanoContasEntity"/>
		<mapping class="com.consisti.sisgesc.entidade.financeiro.FormaPagamentoEntity"/>
		<mapping class="com.consisti.sisgesc.entidade.financeiro.BancoEntity"/>
		<mapping class="com.consisti.sisgesc.entidade.financeiro.ContaPagarEntity"/>
		<mapping class="com.consisti.sisgesc.entidade.estoque.EstoqueEntity"/>
		<mapping class="com.consisti.sisgesc.entidade.estoque.MovimentoEntity"/>
		<mapping class="com.consisti.sisgesc.entidade.financeiro.ContaReceberEntity"/>
		<mapping class="com.consisti.sisgesc.entidade.estoque.ProdutoMaterialEntity"/>
	</session-factory>

</hibernate-configuration>